@import '../variables';

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    height: 100vh;
    background-color: #fff;
    padding: 2rem 0;
    color: $color-secondary;
    box-shadow: 5px 5px 7px rgba(#000, .02);
}

.sidebar-header {
    font-size: .9rem;
    margin: 2rem 0;
    padding: 0 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;

    &-icon {
        margin-right: .7rem;
        font-size: 1.2rem;
    }
}

.side-items-container {
    padding: 1rem 0;
}

.side-items-header {
    font-size: .8rem;
    margin-bottom: .5rem;
    font-weight: 500;
    padding: 0 2rem;
}

.side-items {
    list-style-type: none;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.side-item {
    padding: 1rem 2rem;
    font-weight: 500;
    transition: all .2s;
    font-size: .9rem;
    

    // &:first-child {
    //     background-color: rgba($color-primary, .09);
    //     border-left: 4px solid rgba($color-primary, 1);
    // }

    &:hover {
        background-color: rgba($color-primary, .09);
        border-left: 4px solid rgba($color-primary, 1); 
    }
}

.side-link {
    text-decoration: none;
    color: $color-secondary;
    display: flex;
    align-items: center;
}

.side-icon {
    margin-right: .7rem;
    font-size: 1.1rem;
}

.switch-dropdown {
    margin-left: .4rem;
    font-size: 1.5rem;
}
