@import '../variables';

.status-bg-red {
    background-color: rgba(#e4033b, .05);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 30px;
    width: 70%;
}

.status-text-red {
    color: #e4033b;
    font-size: .8rem;
}

.status-bg-yellow {
    background-color: rgba(#e9b200, .05);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 30px;
    width: 70%;
}

.status-text-yellow {
    color: #e9b200;
    font-size: .8rem;
}

.status-bg-green {
    background-color: rgba(#50d375, .05);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 30px;
    width: 70%;
}

.status-text-green {
    color: #50d375;
    font-size: .8rem;
}

.status-bg-black {
    background-color: rgba(#545f7d, .05);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 30px;
    width: 70%;
}

.status-text-black {
    color: #545f7d;
    font-size: .8rem;
}

.status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

