@import '../variables';

.userprofile {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: 90px;
}

.user-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fbfbfb;
    min-height: 100vh;
    padding: 3rem;
}

.user-main-header {
    color: $color-secondary ;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

.users-div {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 2;
    grid-gap: 30px;
    margin-bottom: 2rem;
}

.users {
    background-color: $color-white;
    color: $color-secondary;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    padding: 1.5rem;
    border-radius: .5rem;
    min-width: 220px;
    box-shadow: 5px 5px 7px rgba(#000, .02);

    &-icon {
        color: #df18ff;
    }

    &-icon-bg {
        width: 2.4rem;
        height: 2.4rem;
        background-color: rgba(#df18ff, .2);
        font-size: 1.2rem;
        margin-bottom: .5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-text {
        font-weight: 600;
        font-size: .8rem;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }

    &-count {
        font-weight: 600;
    }
}

.active-u {
    &-icon {
        color: #5718ff;
    }

    &-bg {
        width: 2.4rem;
        height: 2.4rem;
        background-color: rgba(#5718ff, .2);
        font-size: 1.2rem;
        margin-bottom: .5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.users-wl {
    &-icon {
        color: #f55f44;
    }

    &-bg {
        width: 2.4rem;
        height: 2.4rem;
        background-color: rgba(#f55f44, .2);
        font-size: 1.2rem;
        margin-bottom: .5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.users-ws {
    &-icon {
        color: #ff3366;
    }

    &-bg {
        width: 2.4rem;
        height: 2.4rem;
        background-color: rgba(#ff3366, .2);
        font-size: 1.2rem;
        margin-bottom: .5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.user-infos {
    background-color: $color-white;
    border-radius: .5rem;
    width: 100%;
    min-height: 500px;
    box-shadow: 5px 5px 7px rgba(#000, .02);

    &-container {
        padding: 1.5rem;
        color: $color-secondary;
        position: relative;

        &-header {
            display: grid;
            // grid-template-columns: repeat(6, 1fr);
            grid-template-columns: 130px 130px 180px repeat(3, 1fr);
            grid-gap: 15px;
            text-transform: uppercase;
            padding-bottom: 1rem;
        }
    }
}

.table-title {
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    align-items: center;

    &-icon {
        margin-left: .5rem;
        font-size: 1rem;
        cursor: pointer;
    }
}

.user-info-row {
    display: grid;
    grid-template-columns: 130px 130px 180px repeat(3, 1fr);
    grid-gap: 15px;
    padding: 1.2rem 0;
    border-bottom: 1px solid #e9ecf2;
    align-items: center;

    &:hover {
        background-color: rgba($color-primary, .04);
        // cursor: pointer;
    }
}

.user-info {
    font-size: .8rem;
    font-weight: 400;
}

.user-details-link{
    text-decoration: none;
}


.page-control {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-filter {

    &-text {
        display: flex;
        align-items: center;
        font-weight: 400;
        color: $color-secondary;
    }

    &-dropdown {
        margin: 0 .3rem;
    }
}

.page-num {
    display: flex;
    
    &-control {
        height: 25px;
        width: 25px;
        font-size: 1rem;
        border-radius: 5px;
        background-color: rgba($color-secondary, .07);
        color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .2rem;
        cursor: pointer;
    }

    &-number {
        height: 25px;
        width: 25px;
        font-size: .83rem;
        border-radius: 5px;
        background-color: transparent;
        color: rgba($color-secondary, .7);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .2rem;
        cursor: pointer;

        &:hover,&.active {
            color: $color-secondary;
        }
    }

    &-dot {
        height: 25px;
        width: 25px;
        font-size: .83rem;
        border-radius: 5px;
        background-color: transparent;
        color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .2rem;
    }
}

.users-list-filter {
    position: absolute;
    width: 28%;
    height: 0;
    background-color: $color-white;
    top: 60px;
    left: 25px;
    box-shadow: 5px 5px 7px rgba(#000, .02);
    padding: 0;
    border-radius: 7px;
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    opacity: 0;
    // overflow: hidden;
    transition: all .2s;
    z-index: 20;
}

.users-list-filter.active {
    min-height: 650px;
    background-color: $color-white;
    padding: 2.5rem 1rem;
    top: 60px;
    left: 25px;
    opacity: 1;
    transition: all .2s;
}

.filter-label {
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .5rem;
    text-transform: initial;
}

.filter-input {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid $border-color;
    padding: 0 1rem;
    outline: none;
    color: $color-secondary;
    margin-bottom: 1.5rem;

    &::placeholder {
        color: $placeholder-color;
    }

    &::-webkit-calendar-picker-indicator {
        opacity: .5;
    }
}

.filter-dropdown {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    outline: none;
    margin-bottom: 1.5rem;
}

.filter-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

@mixin btnStyles {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}

.filter-button-outline {
    @include btnStyles();
    background-color: $color-white;
    color: $color-secondary;
    border: 1px solid $color-secondary;
}

.filter-button-solid {
    @include btnStyles();
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-primary;
}

