@import '../variables';

.status-menu {
    margin-left: auto;
    cursor: pointer;
}

.status-menu-container {
    position: relative;
}

.status-dropdown {
    background-color: $color-white;
    color: $color-secondary;
    padding: 0;
    font-size: .8rem;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    top: 0;
    right: 20px;
    // z-index: 20;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(#000, .02);
    transition: all .2s;

    &.active {   
        padding: 1rem;
        height: max-content;
        width: 140px;
        opacity: 1;
        transition: all .2s;
    }

    &-status {
        list-style-type: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: .7rem;
        }
    }
}

.status-icon {
    margin-right: .3rem;
}

.status-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: transparent;
    cursor: pointer;
    padding: 1px 2px;
}

.status-profile-link {
    text-decoration: none;
    color: $color-secondary;
}