@import '../variables';

.status-menu {
    margin-left: auto;
    cursor: pointer;
}

.status-dropdown {
    background-color: $color-white;
    color: $color-secondary;
    padding: 1rem;
    font-size: .8rem;
    position: absolute;
    width: 140px;
    top: 0;
    right: 20px;
    z-index: 20;
    box-shadow: 3px 3px 5px rgba(#000, .02);

    &-status {
        list-style-type: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: .7rem;
        }
    }
}

.status-icon {
    margin-right: .3rem;
}